body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

p,
h1,
h2,
h3,
h4,
h4,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  cursor: pointer;
}

ul,
a {
  text-decoration: none;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

span {
  color: #fd9222;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ?------------HEADER------------------------? */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.container-header {
  display: flex;
  gap: 90px;
}

.navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 24px;
  align-items: center;
}

.logo-simply {
  font-style: italic;
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.logotyp {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;

  display: flex;
  align-items: center;
  gap: 4px;
}

.logo-container{
  display: flex;
gap: 4px;
}

.header-soc-item {
  display: flex;
  gap: 14px;
}

.header-soc-list {
  display: inline-flex;
  align-items: center;
}

.logo-menu-list {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.logo-menu-list:hover,
.logo-menu-list:focus {
  color: #fd9222;
}

.header-soc-icon {
  fill: transparent;
  stroke: #111;
}
.header-soc-icon:hover {
fill: transparent;
  stroke: #fd9222;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ?_____________HERO______________? */
.hero {
  padding-bottom: 80px;
}

.container-hero {
  background-color: var(--gray, #4c4c4c);
  background-image: linear-gradient(
    rgba(17, 17, 17, 0) 0%,
     rgba(17, 17, 17, 0.4)), 
  url(../img/chocolate_main1111111-min.jpg);
  background-repeat: no-repeat;
background-position: center;
background-size: cover;
  border-radius: 30px;
  padding: 380px 40px 40px 40px;
}

.title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 484px;
}

.title-btn {
  border-radius: 100px;
  background-color: #fd9222;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;

  display: inline-flex;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  border: none;
  cursor: pointer;
  transition-property: background-color, border;
transition-duration: 600ms, 0.5s;
}

.title-btn:hover{
  background-color: #FCF1E0;
  border: #FD9222;
  color: #FD9222;
}

.btn-made {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;

  border: 1px solid #fff;
  background-color: transparent;
  padding: 14px 40px;
  margin-left: 14px;

  transition-property: border, color;
transition-duration: 600ms, 0.5s;
transition-timing-function: cubic-bezier(.73, .72, .34, .98);
}

.btn-made:hover{
border: 1px solid #FD9222;
  color: #FD9222;
} 


.btn-scroll {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
  padding-right: 14px;
}

.hero-icon{
  background-color: #ffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
}

.display-btn {
  display: flex;
  align-items: center;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ?_____________Fitures__________________? */
.fitures-section {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}


.fitures-style {
  display: flex;
 padding-left: 18px;
 padding-right: 18px;
  gap: 88px;
}

.fitures-list {
  width: calc((100% - 88px * 2) / 3);
  position: relative;
}

.fitures-list:not(:last-child)::after{
  content: "";
  width: 1px;
  height: 124px;
   background-color: #4c4c4c;
  position: absolute;
  right: -44px;
  top: 0;
  top: 50%;
  transform: translateY(-50%);
}

.fituters-icon{
  border-radius: 365px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    display: flex;
      width: 62px;
      height: 62px;
    justify-content: center;
      align-items: center;
}
.fitures-titel {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
  margin-top: 22px;
}

.fitures-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
/* !!!!!!!!!!!!!!!!!!!!!! */
/* ?________TASTE___________? */
.taste {
  padding-top: 120px;
}

.taste-titel {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  max-width: 412px;
  margin: 0 auto 28px;
}

.taste-text {
  color: #111;
  text-align: center;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;

  max-width: 486px;
  margin: 0 auto 50px;
}

.taste-list-style {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}

.taste-list {
  border-radius: 15px;
  border: 1px solid #fd9222;
  background: #fff;
  width: calc((100% - 32px * 3) / 4);
  padding: 28px 23px;
}

.taste-titel-mini {
  
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  padding-left: 5px;
}

.taste-list:nth-last-child(odd){
  color: #FFF;
}
.taste-img {
  margin: 0 auto 36px;
}
.taste-list:nth-child(4n + 1) {
  background-color: #fd9222;
  
}
.taste-list:nth-child(4n + 2) {
  background-color: #fff;
}
.taste-list:nth-child(4n + 3) {
  background-color: #1e1823;
  
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ?__________MADE____________? */
.made {
  padding-top: 120px;
}

.made-titel {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  margin-bottom: 50px;
}

.made-titel-mini {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  padding-bottom: 28px;
  max-width: 350px;
}

.made-titel-text {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  padding-bottom: 24px;
}
.made-container {
  background-color: #fff;
  padding: 32px;
}

.made-wrap {
  display: flex;
  gap: 20px;
}
.made-list {
  display: flex;
  align-items: baseline;
   gap: 8px;

  margin-bottom: 24px;
}

.made-list::before{
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #111111;
  border-radius: 50%;
  border: 1px solid #eceded;
  flex-shrink: 0;
}
/* !!!!!!!!!!!!!!!!!!!! */
/* ?_________PRODUCTS___________? */

.products {
  padding-top: 120px;
}

.products-titel {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  max-width: 196px;
  margin: 0 auto 50px;
}

.products-style {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}

.products-list {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  width: calc((100% - 18px * 3) / 4);
  padding: 32px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.products-titel-mini {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
}

.products-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.02em;
  margin-top: 2px;
  text-align: center;
}

.products-btn {
  color: #111;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;

  display: flex;
  padding: 8px 20px;
  align-items: flex-start;
  gap: 14px;
  cursor: pointer;
  margin-top: 18px;
}

/* !!!!!!!!!!!!!!!!!!!!! */
/* ?______________TOP_____________? */

.top{
    padding-top: 120px;
}

.top-titel {
    color: #111;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.16;
        letter-spacing: -0.03em;
        text-transform: uppercase;

        max-width: 160px;
            margin: 0 auto 50px;
}

.top-list-sellers {
display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
}
 
.top-list { 
    border-radius: 0px 0px 15px 15px;
        border-right: 1px solid rgba(17, 17, 17, 0.10);
        border-bottom: 1px solid rgba(17, 17, 17, 0.10);
        border-left: 1px solid rgba(17, 17, 17, 0.10);
        background: #FFF;

    width: calc((100% - 16px *2) / 3);
    
  }

    .top-list:hover .sellers-top-wrap{
      transform: translateY(0%);
    }

    .sellers-top-container{
position: relative;
overflow: hidden;
    }

.sellers-top-wrap{
position: absolute;
top: 0;
border-radius: 15px 15px 0px 0px;
  background: linear-gradient(165deg, rgba(253, 253, 255, 0.10) 3.97%, rgba(8, 2, 21, 0.00) 109.76%);
  backdrop-filter: blur(7.5px);
  display: flex;
  align-items: center;
 padding: 0 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 500ms linear;
}

.sellers-top-text{
  color: #fafafa;
  font-size: 14px;
  line-height: 1.28;
    letter-spacing: -0.02em;
}

  .container-top{
    padding: 28px 0;
    text-align: center;
  }

.top-titel-mini {
    color: #111;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        letter-spacing: -0.02em;
        text-transform: uppercase;

        
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ?_________LOVE_IS_____________? */

.love-is { 
    padding-top: 120px;
padding-bottom: 120px;
}

.love-is-titel {
    color: #111;
           font-size: 24px;
          font-weight: 600;
        line-height: 1.16;
        letter-spacing: -0.03em;
        text-transform: uppercase;

        max-width: 268px;
        margin: 0 auto 91px;
}

.love-is-list {
  display: flex;
   
    gap: 28px;
    flex-shrink: 0;
  
    margin-bottom: 50px;
}

.love-is-list-people {
    display: inline-flex;
        flex-direction: column;    
        align-items: center;
        
        
width: calc((100% - 58px) / 3);
        border-radius: 15px;
            border: 1px solid rgba(17, 17, 17, 0.10);
            background: #FFF;
            box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
}

.love-is-titel-mini {
color: #111;
    text-align: center;
     font-size: 18px;
     font-weight: 600;
    line-height: 1.33;
  

    margin-top: -18px;
    margin-bottom: 24px;
 }

.love-is-text {
color: rgba(17, 17, 17, 0.70);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
   
    letter-spacing: -0.02em;

max-width: 312px;
    padding: 24px;
}
.love-is-img{
position: relative;
    top: -40px;
    width: 80px;


}

.love-is-btn {
    color: #111;
        font-family: inherit;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        border-radius: 100px;
            border: 1px solid #FD9222;

            display: flex;
                padding: 14px 40px;
                justify-content: center;
                align-items: flex-start;
                gap: 14px;
                flex-shrink: 0;
                margin: 0 auto;
}
 .love-is-btn:hover,
 .love-is-btn:focus,
 .love-is-btn:active {
     background-color: #fd9222;
 }
/* !!!!!!!!!!!!!!!! */
/* ?_______FOOTER__________? */

.footer {
    padding: 50px 0;
    background-color: #1E1823;

}
.container-footer{
display: flex;
gap: 50px;
position: relative;
}

.container-footer::before{
 content: ""; 
 display: block;
 width: 100%;
 bottom:-50px;

 height: 1px;
 position: absolute;
  background-color: rgba(255, 255, 255, 0.10);
}

.footer-titel {
    color: #FFF;
                font-size: 28px;
        font-weight: 500;
        line-height: 1.21;
        letter-spacing: -0.02em;

        
       
       margin-right: auto;
            max-width: 300px;
}

.footer-adres-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-text {
    color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.28;
   
       
       
         
}

.logo-footer {
    display: flex;   
    gap: 14px;
    
}

.footer-list {}

.footer-list-link {}

.footer-adres {}

.footer-adres-all {
    display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;}

.footer-adres-list {}

.footer-adres-link {
  font-style: normal;
  color: #FFF;
    text-align: center;
      font-size: 14px;
        font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;


}

.navigation-container {
  display: flex;
  margin-top: 74px;
}

.navigation-footer {
  display: flex;
  gap: 24px;
}

.navigation-footer-list {

}

.navigation-footer-link {
  color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
        letter-spacing: -0.03em;
}

.footer-btn{
  margin-left: auto;
  color: #FFF;
    font-family:inherit;
    font-size: 14px;
       font-weight: 600;
      border-radius: 100px;
        background: #FD9222;
    border: none;

      display: flex;
        width: 137px;
        height: 52px;
        padding: 17px 40px;
        justify-content: center;
        align-items: center;
        gap: 14px;
}

.footer-btn:hover,
.footer-btn:focus{
  border-radius: 100px;
    background: #FCF1E0;
    color: #FD9222;
}



